<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<meta charset="utf-8">
<title>login</title>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation-demo">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-default2">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://localhost:8080">로그인</a>
			</div>
		</div>
	</nav>
	<div class="col-md-8 col-md-offset-2 text-center">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">이메일 주소</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일을 입력하세요">
			</div>
			<div class="form-group">
		    	<label for="exampleInputPassword1">암호</label>
		  		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="암호">
		  	</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">>로그인</button>
		</form>
    </div>
    <div class="col-md-8 col-md-offset-2 text-right">
	    <a class="p-2" href="https://kauth.kakao.com/oauth/authorize?client_id=9f6654ba699444dc9bb1b25ccc505b0f&redirect_uri=http://localhost:8080/kakao&response_type=code">
		    <img src="image/kakao_login_small.png" style="height:34px"/>
		</a>
		<a class="p-2" href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=ht95rddVXfe5ulQjPVXI&redirect_uri=http://127.0.0.1:8080/naver&state=1234">
		    <img src="image/naver_login_small.png" style="height:34px"/>
		</a>
	  	<a href="javascript:kakaoLogin();"><img src="image/kakao_login_small.png" alt="카카오계정 로그인" style="height: 34px;"/></a>
    </div>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	
    <script>
        window.Kakao.init('52bfc47a83e73c363d98a7c26135dd51');

        function kakaoLogin() {
            window.Kakao.Auth.login({
                scope: 'profile, account_email', //동의항목 페이지에 있는 개인정보 보호 테이블의 활성화된 ID값을 넣습니다.
                success: function(response) {
                    console.log(response) // 로그인 성공하면 받아오는 데이터
                    window.Kakao.API.request({ // 사용자 정보 가져오기 
                        url: '/v2/user/me',
                        success: (res) => {
                            const kakao_account = res.kakao_account;
                            console.log(kakao_account)
                        }
                    });
                    // window.location.href='/ex/kakao_login.html' //리다이렉트 되는 코드
                },
                fail: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
</body>
</html>